            select.Currency,
            .Language {
                color: white !important;
                border: none;
                background: gray;
            }
            
            .is-top-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: gray;
            }
            
            .is-top-header p,
            .is-top-header a {
                color: #ffffff;
                font-size: 12px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                line-height: normal;
            }
            
            ul.is-customer-links {
                display: flex;
            }
            
            ul.is-customer-links li {
                list-style: none;
                margin: 0 10px;
                font-size: 22px;
            }
            
            a:-webkit-any-link {
                cursor: pointer;
            }
            
            .is-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 30px;
            }
            
            .is-hd1 select {
                cursor: pointer;
            }
            
            span.item_count {
                border-radius: 50px;
                position: absolute;
                color: black;
                font-size: 11px;
                text-align: center;
                background-color: white;
                width: 14px;
                height: 14px;
                right: 26px;
                top: 110px;
            }
            
            button {
                border: 0;
                font-size: 2rem;
                cursor: pointer;
                color: currentColor;
            }
            
            a {
                cursor: pointer;
                color: #555555;
                text-decoration: none;
                background-color: transparent;
                transition: all 0.5s ease-in-out;
            }
            
            .as-container ul {
                display: flex;
                list-style: none;
                border-spacing: -64rem;
                max-width: 100%;
                width: 35%;
                margin: 0 auto;
            }
            
            .as-container ul li {
                margin: 0 1rem;
            }
            
            .img-c {
                transform: scale(1);
            }
            
            .img-c:hover {
                transform: scale(1.1);
                transition: all 2s ease-in-out;
            }
            
            .ttl {
                position: absolute;
                top: 0;
                left: 0;
            }
            
            .inner.topleft {
                position: relative;
                overflow: hidden;
            }
            
            .section-header.text-center {
                text-align: center;
                font-size: x-large;
            }
            
            .is-row-login ul li a:hover {
                border-bottom: 2px solid;
            }
            
            .as-container ul li a:hover {
                border-bottom: #ebe3e3 solid;
            }
            
            .row2,
            .col-12 {
                display: flex;
            }
            
            .col-6 {
                width: 50%;
                margin: 2px;
            }
            
            img {
                max-width: 100%;
                width: 100%;
            }
            
            body {
                display: block;
                margin: 0;
            }
            
            .main-col-12 {
                display: flex;
                text-align: center;
                height: 100%;
                width: 100%;
                margin: 4px 0px 4px 4px;
            }
            
            .is-col-06 {
                background-size: cover;
                width: 50%;
                margin: 5px 5px 1px 8px;
            }
            
            .is-col-6 {
                width: 50%;
                margin: 3px 3px 5px 1px;
            }
            
            .as-col-6 {
                max-width: 100%;
                width: 100%;
            }
            
            .is-col-03 {
                display: flex;
                width: 100%;
            }
            
            .is-col-3 {
                display: flex;
                width: 100%;
            }
            
            .as-site-cart {
                cursor: pointer;
            }
            
            @media screen and (max-width: 768px) {
                .as-container {
                    line-height: 40px;
                    display: none;
                }
            }
            
            .col-3 {
                width: 25%;
                margin: 5px;
            }
            
            img.img-2,
            .is-add-to-cart {
                display: none;
            }
            
            .is-inner:hover .img-2 {
                display: inline-block !important;
                position: relative;
                overflow: hidden;
                width: 100%;
                margin-top: -100%;
                z-index: 0;
                margin-bottom: 14px;
            }
            
            .is-add-to-cart {
                max-width: 100%;
                width: 100%;
            }
            
            .is-inner:hover .is-add-to-cart {
                display: inline-block;
                position: relative;
                margin-top: 70%;
            }
            
            .is-inner .btn {
                width: 100%;
                background: black;
                color: white;
                font-size: 25px;
                margin-top: -100%;
            }
            
            .is-actions {
                display: none;
            }
            
            .is-inner:hover .is-actions {
                display: flex;
                position: relative;
                margin-top: -100%;
                left: 87%;
                display: block;
                z-index: 1;
            }
            
            .is-act {
                background: black;
                color: white;
                width: 24px;
                height: 24px;
                margin-bottom: 10px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
            .is-price-title {
                text-align: center !important;
            }